{% extends "workrkopt/home.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="user-profile">
          <div class="row">
            <div class="col-lg-4">
              <legend class="border-bottom mb-4">Личный Профайл</legend>
              <div class="user-photo" style = "text-align:center;">
                <img class="img-fluid rounded-circle account-img imgBorder" style="width:300px;height:300px; " src="{{user.profile.image.url}}" alt="" />
                <br>
                <a href = "change_password"class="btn btn-info btn-flat btn-addon" style = "color: white; margin-top: 30px;"> <i class="ti-settings"></i>Изменение пароля</a>      
              </div>
            </div>
            <div class="col-lg-8">
              <div class="custom-tab user-profile-tab">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Личные данные</a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="1">
                    <div class="basic-information">
                      <h4>Общая Информация</h4>
                      <div class="firstname-content">
                        <span class="contact-title">Имя:</span>
                        <span class="first-name">
                        {% if user.profile.name %}
                        {{user.profile.name}}
                        {% else %}
                        <span class="text-muted">
                        Не заполнено
                        </span>
                        {% endif %}
                        </span>
                      </div>
                      <div class="lastname-content">
                        <span class="contact-title">Фамилия:</span>
                        <span class="last-name">
                        {% if user.profile.surname %}
                        {{user.profile.surname}}
                        {% else %}
                        <span class="text-muted">
                        Не заполнено
                        </span>
                        {% endif %}
                        </span>
                      </div>
                       <div class="birthday-content">
                        <span class="contact-title">Дата Рождения:</span>
                        <span class="birth-date">
                        {% if user.profile.date_of_birth %}
                        {{user.profile.date_of_birth|date:"F d, Y"}}
                        {% else %}
                        <span class="text-muted">
                        Не заполнено
                        </span>
                        {% endif %}
                        </span>
                      </div>
                    </div>
                      <div class="contact-information">
                      <h4>Контактная Информация</h4>
                      
                   
                      <div class="phone-content">
                        <span class="contact-title">Телефон:</span>
                        <span class="phone-number">
                        {% if user.profile.phone %}
                        {{user.profile.phone}}
                        {% else %}
                        <span class="text-muted">
                        Не заполнено
                        </span>
                        {% endif %}
                        </span>
                      </div>
                      <div class="email-content">
                        <span class="contact-title">Email:</span>
                        <span class="contact-email">
                        {% if user.profile.email %}
                        {{user.profile.email}}
                        {% else %}
                        <span class="text-muted">
                        Не заполнено
                        </span>
                        {% endif %}
                        </span>
                      </div>
                      <div class="col-lg-8 p-l-0 title-margin-left">
                        <div class="page-header">
                          <div class="page-title">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="change">Изменить</a></li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>                              
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}